<div class="row-content">
  <img id="logo" src="assets/images/logo.png" />
  <p id="formLabel" [innerText]="sectionHeader"></p>

  <form id="passwordResetForm">
    <div class="col-auto">
      <div>
        <label for="request_password_token_input">New password</label>
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa-solid fa-unlock"></i></div>
        </div>
        <input [(ngModel)]="passwordInput" type="password" class="form-control" autocomplete="off" id="new_password_input" name="new_password_input" placeholder="Type new password">
      </div>
    </div>
    <div class="col-auto">
      <div>
        <label for="request_password_token_input">Confirm password</label>
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa-solid fa-unlock"></i></div>
        </div>
        <input [(ngModel)]="confirmPasswordInput" type="password" class="form-control" autocomplete="off" id="confirm_new_password_input" name="confirm_new_password_input" placeholder="Retype new password">
      </div>
    </div>

    <button (click)="resetPassword()" class="btn btn-primary">Reset password</button>

    <div class="line-decoration-container">
      <div class="line-decoration"></div>
      <span>or</span>
      <div class="line-decoration"></div>
    </div>

    <button (click)="goToSignIn()" class="btn btn-secondary">Sign in to Maize</button>
  </form>
</div>

<app-footer class="footer"></app-footer>
<app-background-animation></app-background-animation>
