.form-select {
    min-width: 200px;
}

.vehicle-placeholder {
    width: 250px;
    height: 200px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}