<div class="container-fluid p-4 bg-transparent g-0 d-inline-block">
    <div backgroundTheme class="row mb-4 col-md-12 shadow-sm g-0 d-inline-block">
        <div class="d-flex flex-row align-items-start p-4">
            <div theme class="col-md-12">
                <span>{{ 'vehicle_booking_calendar_title' | translate }}</span>
            </div>
        </div>
    </div>
    <div backgroundTheme theme class="row col-md-12 g-0 h-100 d-inline-block">
        <div class="d-flex flex-row align-items-start p-4">
            <div class="col-md-12">
                <full-calendar #calendar [options]="calendarOptions"></full-calendar>
            </div>
        </div>
    </div>
</div>